
/* --------------------------------About Section---------------------------------- */
#ABOUT{
    padding:0;
}
.about-section{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
        .about-left{
            display: flex;
            /* align-items: center; */
            justify-content: center;
            width: 49%;
        }
                .about-left img{
                    height: 370px;
                    width: 400px;
                    border: 1.5px solid white;
                    border-radius: 20%;
                    transition: .3s ease-out;
                }
                .about-left img:hover{
                    border-radius: 30%;
                    transition: .3s;
                    box-shadow: 4px 4px 15px purple;
                    
                }

        .about-right{
            width: 49%;
            font-size: 1.5rem;
            font-weight: 500;
            padding: 40px;
        }



        /* ------------------For Mobile Screen-------------------- */
@media (max-width:799px){
    #ABOUT{
        padding: 19px 0 0 0;
    }
    .about-section{
        padding: 0 25px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
            .about-left{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45%;
                padding: 15px 0;
            }
                    .about-left img{
                        height: 200px;
                        width: 240px;
                        border-radius: 20%;
                    }
                    .about-left img:hover{
                        box-shadow: 2px 2px 15px purple;
                        
                    }
            .about-right{
                width: 90%;
                font-size: 1rem;
                font-weight: 400;
                padding: 10px;
            }
}




/* ------------------------For ipad or Tab screen------------------------------ */
@media (min-width: 799px) and (max-width: 1225px) {
    #ABOUT{
        padding: 20px 0px;
    }
    .about-section{
        padding: 20px 30px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
            .about-left{
                display: flex;
                /* align-items: center; */
                justify-content: center;
                align-items: center;
                width: 45%;
            }
                    .about-left img{
                        height: 240px;
                        width: 270px;
                        border-radius: 20%;
                    }
                    .about-left img:hover{
                        box-shadow: 2px 2px 15px purple;
                        
                    }
            .about-right{
                width: 50%;
                font-size: 1rem;
                font-weight: 400;
                padding: 10px;
            }
}