

#CONTACT-ME{
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 50px 0px 50px;
}
.contact-section{
    margin-top: 40px;
    width: 80%;
    padding: 30px 50px;
    border-radius: 10px;
    display: flex;
    /* background: rgb(105, 66, 139); */

      /* for glassy transparent effect  */
    background: linear-gradient(135deg,  rgba(0, 0, 37, 0.778), rgba(54, 166, 176, 0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: -2px 2px 2px rgba(105, 104, 104, 0.373);
}
.swiper-wrapper{
    height:85%;
    width: 100%;
}
.contact-section .contact-left{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contact-section .contact-left::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}
.contact-section .contact-left .address-detail, .phone-detail, .email-detail{
    padding: 20px;
}
.contact-section .contact-left .address-detail i , .phone-detail i , .email-detail i {
    font-size: 1.5rem;
    color: #3e2093;
    filter: drop-shadow(.4px .4px 1px white);
}
.contact-section .contact-left .address-detail h1, .phone-detail h1, .email-detail h1{
    font-weight: 600;
    font-size: 1.2rem;
}
.contact-section .contact-left .address-detail p , .phone-detail p , .email-detail p {
    font-size: 1rem;
    color: rgb(198, 198, 198);
}

.contact-section .contact-right{
    width: 65%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.contact-section .contact-right h1{
    font-size: 2rem;
    margin: 25px 0 10px 0;
    color: white;
    font-family: "Fira Sans", sans-serif;
}
.contact-section .contact-right p{
    font-size: 1rem;
    color: white;
    width: 80%;
    margin-bottom: 45px;
}
/* ---------------Contact Form STYLING--------------- */
/*  For other input field in contact form*/
.form-container{
    width: 95%;
    margin-bottom: 15px;
}
.form-label1{
    height: auto;
    width: 90%;
    margin: 10px;
    padding:7px 10px;
    border-radius: 7px;
    box-shadow: inset 2px 2px 2px gray;
}
/* For main message input in contact form  */
.form-label2{
    height: auto;
    width: 90%;
    margin: 10px;
    padding: 10px 5px 25px 5px;
    resize: none;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px gray;
}




/* ------------------For Mobile Screen-------------------- */
@media (max-width:799px){
    #CONTACT-ME{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 45px 0 0 0;
        margin: 0;
    }
    .contact-section{
        margin: 0;
        width: 90%;
        flex-direction:column;
        padding: 20px 20px;
    }
    /* Dev info side */
    .contact-section .contact-left{
        width: 100%;
        display: flex;
        flex-direction:row;
        justify-content:top;
        position: relative;
        flex-wrap:wrap;

    }
    .contact-section .contact-left::before{
        content: '';
        position: absolute;
        width: 80%;
        height: 2px;
        left: 10%;
        top: 0;
        transform: translateY(-80%);
        background: #afafb6;
    }
    /* .contact-section .contact-left .address-detail, .phone-detail, .email-detail{
        padding: 10px 15px;
        height: 15vh;
    } */
    .contact-section .contact-left .address-detail i , .phone-detail i , .email-detail i {
        font-size: 1.1rem;
        color: #4912e4;
    }
    .contact-section .contact-left .address-detail h1, .phone-detail h1, .email-detail h1{
        font-weight: 600;
        font-size: .8rem;
        
    }
    .contact-section .contact-left .address-detail p , .phone-detail p , .email-detail p {
        font-size: .6rem;
        color: white;
        margin: 0;
    }
    
    /* Form Side */
    .contact-section .contact-right{
        width: 100%;
        order:-1;
    }
    .contact-section .contact-right h1{
        font-size: 1.1rem;
    }
    .contact-section .contact-right p{
        font-size: .9rem;
        color: white;
        width: 100%;
        margin-bottom: 45px;
    }    
}




/* ------------------------For ipad or Tab screen------------------------------ */
@media (min-width: 799px) and (max-width: 1225px) {
    #CONTACT-ME{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-section{
        width: 100%;
    }
    .contact-section .contact-left{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contact-section .contact-left::before{
        content: '';
        position: absolute;
        height: 80%;
        width: 2px;
        right: -3px;
        top: 50%;
        transform: translateY(-50%);
        background: #afafb6;
    }
    .address-detail, .phone-detail, .email-detail{
        padding: 10px 15px;
        height: 15vh;
    }
    .contact-section .contact-left .address-detail i, .phone-detail i, .email-detail i{
        font-size: 1.5rem;
        color: #4912e4;
    }
    .contact-section .contact-left .address-detail h, .phone-detail h, .email-detail h1{
        font-weight: 400;
        font-size: 1rem;
    }
    .contact-section .contact-left .address-detail p, .phone-detail p, .email-detail p{
        font-size: .7rem;
        color: rgb(198, 198, 198);
    }
    
    .contact-section .contact-right{
        width: 70%;
    }
    .contact-section .contact-right h1{
        font-size: 1.4rem;
    }
    .contact-section .contact-right p{
        font-size: .8rem;
        color: rgb(222, 222, 222);
        width: 100%;
        margin-bottom: 45px;
        padding: 0 5%;
    }    

        /* ---------------Contact Form STYLING--------------- */
    /*  For other input field in contact form*/
    .form-label1{
        height: auto;
        padding: 5px 8px;
        width: 100%;
    }
    /* For main message input in contact form  */
    .form-label2{
        height: auto;
        padding: 5px 5px 25px 5px;
        width: 100%;
    }
}
