

#EDUCATION{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.education-section{
    padding: 0;
    width: 80%;
}
.timeline{
    position: relative;
    width: 100%;
    margin: 100px auto;
    z-index: 1;
}
.education_container{
    position: relative;
    width: 68%;
    padding: 10px 35px;
    border-radius: 25px;
    
    /* For animation of moving down and visible */
    opacity: 0;
    animation: movedown 2s linear forwards;
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.education_container:nth-child(1){
    animation-delay: .07s;
}
.education_container:nth-child(2){
    animation-delay: 1.56s;
}
.education_container:nth-child(3){
    animation-delay: 2.8s;
}
.text-box{
    width: 67%;
    padding: 20px 50px;
    font-size: 1rem;
    border-radius: 6px;
    border-radius: 30px;
    position: relative;
    border: .5px solid gray;
    transition: .2s ease-out;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset 2px 2px 2px gray;
}
.text-box:hover{
    border-radius: 15px;
    transition: .2s;
    box-shadow: 1.5px 1.5px 5px rgb(187, 59, 219);
    border: 1px solid rgb(187, 59, 219);
}
.text-box .education-detail {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-top: 5px;
}
.text-box .education-detail a{
    text-decoration: none;
    color: rgba(6, 146, 88, 0.895);
    font-size: 1.3rem;
    margin-inline: 5px;
}
.left-container{
    left: 0;
}
.right-container{
    left:54%;
}
.education_container img{
    background: rgb(222, 222, 222);
    /* box-shadow: 2px 2px 8px rgb(30, 181, 166); */
    top: 23%;
    padding: 2px;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 45%;
    top: 20%;
    right: 24.3%;
    z-index: 1;
}
.right-container img{
    left: -7.88%;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    background: rgb(222, 222, 222);
    mix-blend-mode: difference;
    /* box-shadow: 1px 1px 8px rgb(30, 181, 166); */
    
    /* For animation to move downward */
    animation: moveline 4s linear forwards;
}
@keyframes moveline{
    0%{
        height: 0%;
    }
    100%{
        height: 100%;
    }
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 18%;
    border-top: 15px solid transparent;
    right: -15px;
    border-bottom: 15px solid transparent;
    border-left: 15px solid   whitesmoke;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 18%;
    border-top: 15px solid transparent;
    left: -15px;
    border-bottom: 15px solid transparent;
    border-right: 15px solid   whitesmoke;
}


/* ------------------For Mobile Screen-------------------- */
@media (max-width:799px){
    #EDUCATION {
        width: 100%;
        padding: 18px 0 15px 0;
    }
    .education-section{
        padding-bottom: 0;
        width: 90%;
    }
    .timeline{
        margin: 50px auto 0 auto;
        width: 100%;
        z-index: 0;
    }
    .timeline::after{
        left: 33px;
        background: rgb(222, 222, 222);
        mix-blend-mode: difference;
        /* box-shadow: .7px .7px 4px rgb(30, 181, 166); */
    }
    .education_container{
        width: 100%;
        padding: 13px 19px 20px 75px;;
    }
    .text-box .education-detail a{
        font-size: 1.1rem;
        margin-inline: 2px;
    }
    .text-box{
        width: 100%;
        font-size: .7rem;
        padding: 13px 25px;
        border-radius: 15px;
    }
    .right-container{
        left: 0;
    }
    .right-container img, .left-container img{
        left: 15px;
        width: 32px;
        background: rgb(222, 222, 222);
        /* box-shadow: 1px 1px 3px rgb(30, 181, 166); */
    }
    .left-container-arrow, .right-container.arrow{
        border-left: 0;
        border-right: 15px solid #fff;
        left: -15px;
    }
}




/* ------------------------For ipad or Tab screen------------------------------ */
@media (min-width: 799px) and (max-width: 1225px) {
    #EDUCATION{
        width: 99%;
        padding: 40px 5px 0px 5px;
    }
    .timeline{
        width: 100%;
        margin: 50px 0 0 0;
    }
    .education_container{
        width: 62%;
        padding: 10px 35px;
    }
    .text-box{
        width: 72%;
        padding: 15px 20px;
        font-size: .75rem;
        border-radius: 12px;
    }
    .education_container img{
        right: 16.9%;
        width: 30px;
    }
    .right-container{
        left: 51%;
    }
    .right-container img{
        left: -5.24%;
    }
    .timeline::after{
        width: 3px;
    }
}