
*{
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------Computer Screen------------------------------------------------ */
#HOME{
    margin: 0;
}
.home-section{
    height: 80vh;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
.home-left{
    width: 49%;
    text-align: left;
    font-size: 2rem;
    padding: 30px 0;
    word-spacing: 4px;
    }
.home-left div{
    margin-top: 30px;
    font-size: 1.5rem;
    /* justify-items: center; */
}
.logo-home ul{
    display: flex;
    list-style: None;
}
.logo-home ul li{
    margin-right: 30px;
}
.logo-home ul li a{
    font-size: 1.5rem;
    color: blueviolet;
    transition: .1s ease-out;
}
.logo-home ul li a:hover{
    font-size: 1.6rem;
    transition: .1s ;
}

.home-right{
    width: 49%;
    padding: 30px 0;
    }
.home-right img{
    height: 400px;
    width: 400px;
    margin: 40px;
}



/* ------------------For Mobile Screen-------------------- */
@media (max-width:799px){
    #HOME{
        padding: 40px 0 0 0;
        margin: 0;
    }
    .home-section{
        height: auto;
        padding: 5px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
    .home-section .home-left{
        width: 95%;
        text-align: left;
        font-size: 1.5rem;
        padding: 5px 30px;
        }
    .home-section .home-left div{
        margin-top: 8px;
        font-size: 1rem;
    }
    .home-section .home-right{
        margin-top: 10px;
        width: 80%;
        padding: 20px 0;
        order: -1;
        }
    .home-section .home-right img{
        height: 250px;
        width: 250px;
        margin: 5px;
    }
}




/* ------------------------For ipad or Tab screen------------------------------ */
@media (min-width: 799px) and (max-width: 1225px) {
    #HOME{
        padding-top: 120px;
    }
    .home-section{
        height: auto;
        padding: 20px 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .home-left{
        width: 49%;
        text-align: left;
        font-size: 1.5rem;
        padding: 30px 0;
        }
    .home-left div{
        margin-top: 20px;
        font-size: 1.1rem;
    }

    .logo-home ul li{
        margin-right: 30px;
    }
    .logo-home ul li a{
        font-size: 1.4rem;
    }
    .logo-home ul li a:hover{
        font-size: 1.5rem;
    }

    .home-right{
        width: 49%;
        padding: 20px 0;
        }
    .home-right img{
        height: 300px;
        width: 300px;
        margin: 10px;
    }
}